.dropbox
.DS_Store
.vs
/node_modules
/app/node_modules
/app/UltraBox Offline*
/website/**/beepbox*.js.map
/website/beepbox_offline.html
/website/jummbox_offline.html
/editor/*.js
/player/*.js
/synth/*.js
/app/*.js
/app_editor/*.ts
!/app_editor/OfflineAddSamplesPrompt.ts
/editor/*.js.map
/player/*.js.map
/synth/*.js.map
/app/*.js.map
/**/*.ts.bak
/**/*.html.bak
/build