.dropbox
.DS_Store
.vs
/node_modules
offline/node_modules
/website/**/beepbox*.js
/website/**/beepbox*.js.map
/website/beepbox_offline.html
/website/jummbox_offline.html
/editor/*.js
/player/*.js
/synth/*.js
/editor/*.js.map
/player/*.js.map
/synth/*.js.map
/**/*.ts.bak
/**/*.html.bak
/build

/offline/*.js
/offline/*.png
!/offline/index.html
!/offline/main.js
!/offline/preload.js
!/offline/jquery-3.4.1.min.js
!/offline/select2.min.js
!/offline/select2.min.css
!/offline/icon.png
!/offline/icon.ico
!/offline/*.json
!/offline/*.woff2
/offline/theme_resources/*
/offline/player/*
!/offline/player/index.html
/offline/UltraBox Offline*